<div class="frame1">
  <h1 class="frame1_titulo">Hetalia</h1>
  <div class="frame11">
      <div class="frame111">
          <div class="frame111_img"></div>
          <div class="frame111_1">
              <h3 class="frame111_1_titulo">Sinopsis</h3>
              <p class="frame111_1_text">talia es el descendiente del glorioso Imperio Romano, cualquiera esperaría que él fuera el reflejo de su antecesor, sin embargo, es todo lo contrario. Tranquilo, torpe, cobarde, inútil, amante acérrimo de la pasta y la pizza, son cualidades que lo describen perfectamente y unidas forman una sóla palabra: "Hetalia" (Inútil-Italia). Hetalia World Series es la tercera entrega de la famosa obra de Hidekaz Kimaruya que nos lleva a vivir la historia de una manera distinta a través de las aventuras de distintos países representados por un grupo de personajes que nos mostrarán que la historia va más allá de lo escrito en los libros.</p>
          </div>
      </div>
      <div class="frame112">
          <div class="frame112_1">
              <div class="frame112_11">
                  <p class="frame112_11_titulos">Género</p>
                  <p class="frame112_11_titulos">Escritores</p>
                  <p class="frame112_11_titulos">Idiomas</p>
                  <p class="frame112_11_titulos">Música</p>
                  <p class="frame112_11_titulos">Estudio</p>
                  <p class="frame112_11_titulos">Fecha</p>
                  <p class="frame112_11_titulos">Episodios</p>
              </div>
              <div class="frame112_12">
                  <p class="frame112_12_textos">Historia,Comedia</p>
                  <p class="frame112_12_textos">Hidekaz Himaruya</p>
                  <p class="frame112_12_textos">Japones</p>
                  <p class="frame112_12_textos">Masaru Yokoyama</p>
                  <p class="frame112_12_textos">Studio DEEN</p>
                  <p class="frame112_12_textos">26 de enero de 2009</p>
                  <p class="frame112_12_textos">52</p>
              </div>
          </div>
          <h3 class="frame112_ver">Ver por</h3>
          <div class="frame112_2">
              <a href="https://www3.animeflv.net/anime/hetalia-world-series" class="frame112_2_text">Página 1</a>
          </div>
          <div class="frame112_2">
              <a href="https://jkanime.net/hetalia-axis-powers/" class="frame112_2_text">Página 2</a>
          </div>
      </div>
  </div>
  <h2 class="frame1_sub">Facultad Juridica</h2>
  <div class="frame12">
      <div class="frame121">
          <h3 class="frame121_carrera">Juridica</h3>
          <p class="frame121_text">La historia de varios momentos históricos de la humanidad con los países siendo representados, también demuestra conocimientos en leyes internacionles y tratados de paz</p>
      </div>
  </div>
</div>
