<div class="main">
  <h2 class="main__title">Todas las series</h2>
  <div class="main__column">
      <div class="main__column-item">
          <div class="main__column-item_img" id="img1">.</div>
          <a class="main__column-item_title"routerLink="/steins">Steins;Gate</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img2"></div>
          <a class="main__column-item_title"routerLink="/death">Death Note</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img3"></div>
          <a class="main__column-item_title"routerLink="/nisekoi">Nisekoi</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img4"></div>
          <a class="main__column-item_title"routerLink="/evangelionp">Evangelion: 3.0+1.0 Thrice Upon a Time</a>
      </div>
  </div>
  <div class="main__column">
      <div class="main__column-item">
          <div class="main__column-item_img" id="img5"></div>
          <a class="main__column-item_title"routerLink="/shingeki">Shingeki No Kyojin</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img6"></div>
          <a class="main__column-item_title"routerLink="/evangeliong">Neon Genesis Evangelion</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img7"></div>
          <a class="main__column-item_title"routerLink="/magic">Knight's & Magic</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img8"></div>
          <a class="main__column-item_title"routerLink="/food">Food Wars</a>
      </div>
  </div>
  <div class="main__column">
      <div class="main__column-item">
          <div class="main__column-item_img" id="img9"></div>
          <a class="main__column-item_title"routerLink="/given">Given</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img10"></div>
          <a class="main__column-item_title"routerLink="/egg">Wonder Egg Priority</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img11"></div>
          <a class="main__column-item_title" routerLink="/monster">Monster Girl Doctor</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img"id="img12"></div>
          <a class="main__column-item_title" routerLink="/eden">Eden of The East</a>
      </div>
  </div>
  <div class="page">
    <div class="page__item">
      <a routerLink="/series">1</a>
    </div>
    <div class="page__item" id="pag1">
      <a routerLink="/series2">2</a>
    </div>
  </div>
</div>
