<div class="main">
  <h2 class="main__title">Todas las series</h2>
  <div class="main__column">
      <div class="main__column-item">
          <div class="main__column-item_img" id="img1">.</div>
          <a class="main__column-item_title"routerLink="/kaguya">Kaguya-sama wa Kokurasetai: Ultra Romantic</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img2"></div>
          <a class="main__column-item_title"routerLink="/spy">Spy x Family</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img3"></div>
          <a class="main__column-item_title"routerLink="/komi">Komi-san wa, Comyushou desu. S2</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img4"></div>
          <a class="main__column-item_title"routerLink="/date">Date A Live IV</a>
      </div>
  </div>
  <div class="main__column">
      <div class="main__column-item">
          <div class="main__column-item_img" id="img5"></div>
          <a class="main__column-item_title"routerLink="/summer">Summertime Render</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img6"></div>
          <a class="main__column-item_title"routerLink="/tate">Tate no Yuusha no Nariagari Season 2</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img7"></div>
          <a class="main__column-item_title"routerLink="/battle">Battle progammer shirase</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img8"></div>
          <a class="main__column-item_title"routerLink="/ace">Ace Attorney</a>
      </div>
  </div>
  <div class="main__column">
      <div class="main__column-item">
          <div class="main__column-item_img" id="img9"></div>
          <a class="main__column-item_title"routerLink="/wakimi">Shigatsu wa Kimi no Uso</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img10"></div>
          <a class="main__column-item_title"routerLink="/">Cells at Work</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img" id="img11"></div>
          <a class="main__column-item_title" routerLink="/spice">Spice and Wolf</a>
      </div>
      <div class="main__column-item">
          <div class="main__column-item_img"id="img12"></div>
          <a class="main__column-item_title" routerLink="/stone">Dr. Stone</a>
      </div>
  </div>
  <div class="page">
    <div class="page__item" id="pag1">
      <a routerLink="/series">1</a>
    </div>
    <div class="page__item">
      <a routerLink="/series2">2</a>
    </div>
  </div>
</div>
