*{
    font-family: 'Times New Roman', Times, serif;
    color: white;
}

.nav__logo{
    height: 5%;
    background: #746565;
    border-radius: 50%;
    width: 5%;
    margin-left: 20px;
}

a{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin-left: 30px;
    font-weight: 1000px;
    line-height: 20px;
    margin-top: 7px;
}

h2{
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    color: white;
    margin-right: 50px;
    margin-left: 20px;
    font-weight: 700;
    line-height: 34px;
    margin-top: 5px;
}

.nav__uwu{
    height: 40%;
    background: white;
    border-radius: 20px;
    width: 22%;
    margin-top: 15px;
}