<nav class="navbar navbar-expand navbar-black|white" style="background-color: rgba(32, 32, 32, 1);">
    <div class="nav navbar-nav">
      <div class="nav__logo">
        <img src="https://i.pinimg.com/originals/c7/27/05/c727057036e3fdb48e32bf812d95182a.png" width="110%" height="100%" alt="logo">
      </div>
        <h2 class="nav-item nav-link active"routerLink="inicio">Daigaku No Anime</h2>
        <a class="nav-item nav-link active"routerLink="inicio">Inicio <span class="visually-hidden">(current)</span></a>
        <a class="nav-item nav-link active"routerLink="series">Series</a>
        <a class="nav-item nav-link active"routerLink="noticias">Noticias</a>
        <a class="nav-item nav-link active"routerLink="categorias">Categorias</a>
    </div>
</nav>
