<section class="uwu">
  <div class="slider">
    <app-carrusel></app-carrusel>
  </div>
  <p class="kk">Estrenos Primavera</p>
  <div class="main__column">
    <div class="main__column-item">
      <div class="main__column-item_img" id="img1"></div>
      <a class="main__column-item_title"routerLink="/kaguya">Kaguya-sama wa Kokurasetai: Ultra Romantic</a>
    </div>
    <div class="main__column-item">
      <div class="main__column-item_img" id="img2"></div>
      <a class="main__column-item_title"routerLink="/spy">Spy x Family</a>
    </div>
    <div class="main__column-item">
      <div class="main__column-item_img" id="img3"></div>
      <a class="main__column-item_title"routerLink="/komi">Komi-san wa, Comyushou desu. S2</a>
    </div>
  </div>
  <div class="main__column">
    <div class="main__column-item">
      <div class="main__column-item_img" id="img4"></div>
      <a class="main__column-item_title"routerLink="/date">Date A Live IV</a>
    </div>
    <div class="main__column-item">
      <div class="main__column-item_img" id="img5"></div>
      <a class="main__column-item_title"routerLink="/summer">Summertime Render</a>
    </div>
    <div class="main__column-item">
      <div class="main__column-item_img" id="img6"></div>
      <a class="main__column-item_title"routerLink="/tate">Tate no Yuusha no Nariagari Season 2</a>
    </div>
  </div>
</section>

<aside class="owo">
      <div>
          <a href="https://tests.acierta.me/que-rei-chikita-eres-37431/"><img class="iwi" src="https://tests.acierta.me/gImage.php?im=http://dataimg.s3.amazonaws.com/quiz-37431-0.jpg&t=%C2%BFQue+Rei+Chikita+eres%3F" alt="reichikita"></a>
      </div>
      <div>
        <h3 class="recomendaciones">Recomendaciones para tu carrera</h3>
      </div>
      <div class="carreras">
        <div class="ingenieria">
          <a class="ingenieria2" routerLink="/categorias">Facultad De Ingenieria</a>
        </div>
        <div class="juridicas1">
          <a class="juridicas2" routerLink="/categorias2">Ciencias Jurídicas y Políticas</a>
        </div>
        <div class="artes1">
          <a class="artes2" routerLink="/categorias3">Sociales, Humanidades y Artes</a>
        </div>
        <div class="salud1">
          <a class="salud2" routerLink="/categorias4">Ciencias de la Salud</a>
        </div>
        <div class="contables1">
          <a class="contables2" routerLink="/categorias5">Económicas, Administrativas y Contables</a>
        </div>
      </div>
      <div>
        <h3 class="noticias">Noticias</h3>
      </div>
      <div>
        <img class="img1" src="https://img1.ak.crunchyroll.com/i/spire1/3081d81730e15e277ac721f557ed15a01652479476_thumb.jpg" alt="">
      </div>
      <div class="noticia1">
        <a href="https://www.crunchyroll.com/es/anime-news/2022/05/14/estas-son-las-voces-latinas-para-el-doblaje-de-a-couple-of-cuckoos" class="titulonoticia">Estas son las voces latinas para el doblaje de A Couple of Cuckoos</a>
        <p class="textonoticia">Seguro han disfrutado de los episodios de estreno de A Couple of Cuckoos, otro de los grandes estrenos de esta temporada. ¡Y a partir de hoy, podremos disfrutarlos con doblaje en español latinoamericano!</p>
      </div>
      <div>
        <img class="img2" src="https://img1.ak.crunchyroll.com/i/spire3/033a4bf47f10e015c43fa169d14e83e51651671220_thumb.png" alt="">
      </div>
      <div class="noticia2">
        <a href="https://www.crunchyroll.com/es/anime-feature/2022/05/10-1/test-qu-clase-de-estudiante-seras-en-el-eden-college-de-spy-x-family" class="titulonoticia2">TEST: ¿Qué clase de estudiante serías en el Eden College de SPY x FAMILY?</a>
        <p class="textonoticia2">Afortunadamente no tienes que tomar un extenuante examen escrito real o pasar por una entrevista intimidante para ingresar al ilustre Eden College.</p>
      </div>
      <div>
        <img class="img3" src="https://img1.ak.crunchyroll.com/i/spire1/792c42d85000fdb5194e6dbf137f604e1650287749_thumb.png" alt="">
      </div>
      <div class="noticia3">
        <a href="https://www.crunchyroll.com/es/anime-feature/2022/04/18-1/primavera-calendario-de-estrenos-de-la-semana-en-crunchyroll" class="titulonoticia3">[Primavera] Calendario de estrenos de la semana</a>
        <p class="textonoticia3">¿Ya estás viendo los animes de la temporada? ¿Comienza a ser complicado saber siempre qué se estrena cada día?, Pues con la ayuda galática de Hime, te hemos preparado este calendario para que no haya estreno que escape a tu visionado.</p>
      </div>
      <div>
        <img class="img4" src="https://img1.ak.crunchyroll.com/i/spire2/872995523cebba7d369712bda6613d461652529090_main.jpg" alt="">
      </div>
      <div class="noticia4">
        <a href="https://www.crunchyroll.com/es/anime-news/2022/05/15/teaser-trailer-y-detalles-para-la-adaptacin-anime-de-yuri-is-my-job" class="titulonoticia4">Teaser trailer y detalles para la adaptación anime de Yuri is My Job!</a>
        <p class="textonoticia4">Oficialmente para la adaptación del manga de comedia romántica Yuri is My Job!, reveló detalles del elenco principal, además de un teaser trailer y dos imágenes que muestran la dinámica de los personajes principales.</p>
      </div>
</aside>
